.wrapper {
  position: relative;
  width: 640px;
  height: 100px;
  overflow: hidden;
}

.scroller {
  width: 5500px;
}

.item {
  display: flex;
  float: left;
  width: 100px;
  height: 100px;
  background-color: #b3e5fc;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
