.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  overflow-x: hidden;
}

.container {
  width: 500px;
  height: 100px;
  margin: auto;
  margin-bottom: 10px;
  background: green;
  position: relative;
  cursor: default;
}

.container-vertical {
  width: 100px;
  height: 300px;
  margin: auto;
  margin-bottom: 10px;
  background: purple;
  overflow: hidden; 
  cursor: default;
}

.scroller {
  position: absolute;
  white-space: nowrap;
}

.scroller.scrolling,
.scroller-vertical.scrolling {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.scroller-item {
  display: inline-block;
  background: rgba(255,0,0,0.5);
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

.scroller-item-2 {
  display: inline-block;
  background: rgba(255,255,0,0.5);
  width: 500px;
  height: 100px;
}

.scroller-item-3 {
  background: magenta;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}